/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Main container */
.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

/* Inner container */
.innerContainer {
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Photo section */
.photoSection {
    background-image: url('../../assets/bg-1.jpg.webp'); /* Update with your background image */
    background-size: cover;
    background-position: center;
    height: 150px; /* Adjust the height as needed */
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    border-radius: 10px;
}

/* Content section */
.contentSection {
    padding: 20px 0;
}

/* Title section */
.titleSection {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Input fields */
.inputFields {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    outline: none;
    border-color: #007bff;
}

/* Button */
.btn {
    display: block;
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Additional options */
.additionalOptions {
    text-align: center;
    font-size: 14px;
}

.additionalOptions a {
    color: #007bff;
    text-decoration: none;
}

.additionalOptions a:hover {
    text-decoration: underline;
}

/* Add this CSS to your forgot-password.component.css file */

.reset-link-sent-message {
    background-color: #d4edda; /* Background color for success message */
    color: #155724; /* Text color for success message */
    border: 1px solid #c3e6cb; /* Border color for success message */
    border-radius: 5px; /* Border radius for rounded corners */
    padding: 10px 20px; /* Padding for the message */
    margin-top: 20px; /* Margin top to separate from other elements */
    text-align: center; /* Center align the message */
    font-size: 16px; /* Font size for the message */
}

