<div class="mainContainer">
    <div class="innerContainer">
        <div class="photoSection"></div>
        <div class="contentSection">
            <div class="titleSection">
                <h2 class="title">Forgot Password?</h2>
                <p class="subtitle">Enter your email to reset your password</p>
            </div>
            <div class="inputFields">
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email" class="form-control">
                </div>
            </div>

            <button type="button" class="btn btn-primary" (click)="sendResetLink()">Reset Password</button>
            
            <div class="additionalOptions">
                <p>Remember your password? <a routerLink="/login">Sign In</a></p>
            </div>
            <div *ngIf="resetLinkSent" class="reset-link-sent-message">
                Reset password link has been sent to your email. Please check your inbox.
            </div>
            
        </div>
    </div>
</div>
